In [1]:
import pandas as pd
class PAU_SIMS : 

    name = input("Enter your name: ")
    matric_no = input("Enter your matriculation number: ")
    dept = input("Enter your department: ")
    level = input("Enter your level: ")


    record = {"Name" : [name],
              "Matric.No" : [matric_no] ,
              "Department" : [dept],
              "Level" : [level]}

    df = pd.DataFrame(record)
    df.to_csv('SIMS.csv')
  
    print(df)

Enter your name: Tito
Enter your matriculation number: 22120976756
Enter your department: Computer Science
Enter your level: 100
   Name    Matric.No        Department Level
0  Tito  22120976756  Computer Science   100

In [12]:
import pandas as pd

assests = [1000000, 1500000, 3000000, 250000, 800000]
liabilities = [200000, 500000, 1500000, 50000, 300000]
percentage_leverage_list = []

for i in range(5):
    pl = (assests[i] - liabilities[i]) / (assests[i]) * 100
    pl = round(percentage_leverage)
    percentage_leverage_list.append(percentage_leverage)
    
df =   pd.DataFrame({"Company" : ["Enron", "Anderson", "GK Jones", "Mica", "Dune"],
                     "Founded": ["1987", "1936", "2001", "1996", "2008"],
                     "Assests": [1000000, 1500000, 3000000, 250000, 800000],
                     "Liabilities": [200000, 500000, 1500000, 50000, 300000],
                     "Percentage Leverages (%)": [a for a in percentage_leverage_list]
                    })

df.to_csv("Company.csv")
df

    Company Founded  Assests  Liabilities  Percentage Leverages (%)
0     Enron    1987  1000000       200000                        62
1  Anderson    1936  1500000       500000                        62
2  GK Jones    2001  3000000      1500000                        62
3      Mica    1996   250000        50000                        62
4      Dune    2008   800000       300000                        62