In [1]:
girls = ['Samantha  ', 'Jada      ', 'Jane      ', 'Claire    ', 'Elizabeth ',
         'Mary      ','Susan     ', 'Waje      ', 'Taibat    ', 'Lilian    ']
girls_ages = [ 17 , 16 , 17, 18, 16, 18, 17, 20, 19, 17]
girls_height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
girls_scores = [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]

boys = ["Charles   ", "Jude      ", "James     ", "Kelvin    ", "Biodun    ",
        "Wale      ", "Kunle     ", "Matthew   ", "Tom       ", "Kayode    "]
boys_ages = [19, 16, 18, 17, 20, 19, 16, 18, 17, 19]
boys_height = [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5]
boys_scores = [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]

print ("   Name      |  Age | Height | Score")
print("--------------------------------------")

for i in range(len(girls)) : 
    print (" ",girls[i],"| ",girls_ages[i]," | ",girls_height[i],"  | ",girls_scores[i])
for i in range(len(boys)) : 
    print (" ",boys[i],"| ",boys_ages[i]," | ",boys_height[i],"  | ",boys_scores[i])

   Name      |  Age | Height | Score
--------------------------------------
  Samantha   |  17  |  5.5   |  80
  Jada       |  16  |  6.0   |  85
  Jane       |  17  |  5.4   |  70
  Claire     |  18  |  5.9   |  60
  Elizabeth  |  16  |  5.6   |  76
  Mary       |  18  |  5.5   |  66
  Susan      |  17  |  6.1   |  87
  Waje       |  20  |  6.0   |  95
  Taibat     |  19  |  5.7   |  50
  Lilian     |  17  |  5.5   |  49
  Charles    |  19  |  5.5   |  74
  Jude       |  16  |  6.0   |  87
  James      |  18  |  5.4   |  75
  Kelvin     |  17  |  5.9   |  68
  Biodun     |  20  |  5.6   |  66
  Wale       |  19  |  5.5   |  78
  Kunle      |  16  |  6.1   |  87
  Matthew    |  18  |  6.0   |  98
  Tom        |  17  |  5.7   |  54
  Kayode     |  19  |  5.5   |  60

In [2]:
staff_age = int(input("Enter your age: "))
staff_experience = int(input("Enter your years of experience: "))

if staff_age  >= 55 and staff_experience >= 25:
    print("Your Annual Tax Revenue is N5,600,000.")
    
elif staff_age >= 45 and staff_experience >= 20:
    print("Your Annual Tax Revenue is N4,800,000.")
    
elif staff_age >= 35 and staff_experience >= 10:
    print("Your Annual Tax Revenue is N1,500,000.")
    
else:
    print("Your Annual Tax Revenue is N550,000.")

Enter your age: 19
Enter your years of experience: 4
Your Annual Tax Revenue is N550,000.